<%- include("./partials/header") %>
<div class="container justify-content-center">
    <div class="row">
       
        <div class="col-10">
            <h1>Login!</h1>
            <form action="/login" method="POST">
                <input type="text" name="username" placeholder="username">
                <input type="password" name="password" placeholder="password">
                <button class="btn btn-success">Login!</button>
            </form>
        </div>
        
    </div>
    <br>
<p>No you can't have my login. But I really like burgers. So if you buy me a burger a might give it to you.</p>
</div>

<%- include("./partials/footer") %>